<div class="flex items-center justify-center w-full h-full">
    <div class="max-w-md px-8 py-6 bg-white rounded-lg shadow-md">
        <h1 class="mb-4 text-2xl font-bold text-center dark:text-black">Iniciar Sesión</h1>
        <form action="#">
            <div class="mb-4">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Correo Electrónico o Usuario</label>
                <input type="email" id="email" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-customRed focus:border-customRed" placeholder="Ingresa tu correo o Usuario" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Contraseña</label>
                <input type="password" id="password" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-customRed focus:border-customRed" placeholder="Ingresa tu contraseña" required>
                    <a href="#" class="text-xs text-customRed">
                        ¿Olvidó su contraseña?
                    </a>
                </div>
            <button type="button" (click)="acceder()" class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-customRed hover:bg-customRed focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-customRed">Acceder</button>
        </form>
    </div>
</div>