<div class="flex items-center justify-center w-full h-full">
    <div class="max-w-md px-8 py-6 bg-white rounded-lg shadow-md ">
        <h1 class="mb-4 text-2xl font-bold text-center dark:text-black">Registrate</h1>
        <form action="#">
            <div class="mb-4">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Nombre Completo</label>
                <input type="text" id="name" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-customRed focus:border-customRed" placeholder="Ingresa tu correo" required>
            </div>
            <div class="mb-4">
                <label for="user" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Usuario</label>
                <input type="text" id="user" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-customRed focus:border-customRed" placeholder="Ingresa tu correo" required>
            </div>
            <div class="mb-4">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Correo Electrónico</label>
                <input type="email" id="email" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-customRed focus:border-customRed" placeholder="Ingresa tu correo" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Contraseña</label>
                <input type="password" id="password" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-customRed focus:border-customRed" placeholder="Ingresa tu contraseña" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Confirmar Contraseña</label>
                <input type="password" id="password" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-customRed focus:border-customRed" placeholder="Repite tu contraseña" required>
                <a href="#" class="text-xs text-customRed">
                    ¿Ya tienes una cuenta? Inicia Sesión
                </a>
            </div>
            <button type="submit" class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md shadow-sm bg-customRed hover:bg-customRed focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-customRed">Registrate</button>
        </form>
    </div>
</div>