<div class="flex justify-center items-center p-4 min-h-screen bg-gray-100">
    <div class="w-full max-w-md">
        <div class="mb-8 text-center">
            <h1 class="mb-2 text-2xl font-bold">Bienvenido a <span class="text-customRed">InnovaTube</span></h1>
            <p>Registrate o inicia sesión para buscar y guardar tus videos favoritos de Youtube.</p>
        </div>
        
        <div class="text-black bg-white rounded-xl shadow-md">
            <div class="border-b border-gray-200">
                <nav class="flex" aria-label="Tabs">
                    <a routerLink="./login" routerLinkActive="bg-blue-50 text-customRed border-custext-customRed"
                        class="py-3 w-1/2 text-sm text-center border-b-2 border-transparent transition-all hover:text-customRed hover:border-customRed">
                        Iniciar Sesión
                    </a>
                    <a routerLink="./register" routerLinkActive="bg-blue-50 text-customRed border-customRed"
                        class="py-3 w-1/2 text-sm text-center border-b-2 border-transparent transition-all hover:text-customRed hover:border-customRed">
                        Registrate
                    </a>
                </nav>
            </div>
            <div class="p-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>